.app {
	display: grid;
}

.app__main {
	padding: 20px 2vw; 
	position: relative;
	margin-top: 30px;
}

.app__header {
	padding: 5px 10vw 0 10vw; 
	font-weight: bold;
	color: #cfe6d1;
	height: 30px;
	width: 100%;
	background: #1b2d13;
	position: fixed;
}