.app {
	display: grid;
}

.app__header, .app__main {
	padding: 0 10vw; 
}

.app__main {
	position: relative;
	margin-top: 30px;
}

.app__header {
	padding-top: 5px;
	padding-bottom: 0px;
	font-weight: bold;
	color: #cfe6d1;
	height: 30px;
	width: 100%;
	background: #1b2d13;
	position: fixed;
}

.app__main {
	padding: 20px 10vw; 
}