.planner-table {
	overflow: scroll;
}

.planner-cell {
	margin: 5px;
	padding: 5px;
}

.planner-cell_header {
	height: 28px;
	width: 150px;
} 

.planner-card {
	border-radius: 5px;
	background-color: #b5c7c2;
	padding: 10px;
	height: 60px;
	width: 150px;
}

.action-button { 
	background-color: #b5c7c2;
	border-radius: 5px;
	border: none;
	color: black;
	padding: 10px 16px;
	font-size: 20px;
	cursor: pointer;
}