.planner-table {
	overflow: scroll;
}

.planner-cell {
	margin: 2px;
	padding: 0px;
	vertical-align: top;
}

.planner-cell_header {
	height: 28px;
	width: 150px;
} 

.planner-card {
	padding: 10px;
	height: 60px;
	width: 150px;
	margin-top: 5px;
}

.planner-card.card-task {
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.planner-card.card-task.task-selected {
	background-color: #3b99fb;
}

.planner-card .task-length-buttons {
	display: none;
}

.planner-card:hover .task-length-buttons {
	display: inline;
}

.planner-card.card-task.task-start {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 2px;
}

.planner-card.card-task.task-finish {
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	border-right-color: white;
	border-right-width: 2px;
	border-right-style: solid;
}